<!-- /sections/section-new-featured-products.liquid -->

{% case section.settings.grid %}
  {% when 2 %}
    {%- assign grid_strings = 'medium-up--one-half small--one-half mobile--nine-tenths' -%}
  {% when 3 %}
    {%- assign grid_strings = 'large-up--one-third medium--one-half small--one-half mobile--nine-tenths' -%}
  {% when 4 %}
    {%- assign grid_strings = 'large-up--one-quarter medium--one-half small--one-half mobile--nine-tenths' -%}
{% endcase %}

<div
  class="section-new-featured-products {{ section.settings.color_bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="section-new-featured-products"
  style="--PT: {{ section.settings.padding_top }}px; --PB: {{ section.settings.padding_bottom }}px;"
>
  <div class="{{ section.settings.width }} section-padding">
    <div class="section-new-featured-products__foreground">
      <div class="section-new-featured-products__inner">
        <div class="section-new-featured-products__head">
          {% if section.settings.title != blank %}
            <h2 class="index__new-featured-products__title h3">{{ section.settings.title | escape }}</h2>
          {% endif %}
          {% if section.settings.description != blank %}
            <div class="index__new-featured-products__subtitle subtitle--decorated">
              {{ section.settings.description }}
            </div>
          {% endif %}
        </div>

        {% if section.settings.enable_slider %}
          <div class="slider-actions" data-slider-actions>
            <button type="button" class="slider-arrow slider-arrow--prev" data-prev-arrow disabled>
              <span class="visually-hidden">{{ 'general.accessibility.next' | t }}</span>
            </button>

            <button type="button" class="slider-arrow slider-arrow--next" data-next-arrow>
              <span class="visually-hidden">{{ 'general.accessibility.prev' | t }}</span>
            </button>
          </div>
        {% endif %}
      </div>

      <div
        class="grid grid--inner-offsets flickity-disabled-mobile {% unless section.settings.enable_slider %} grid--uniform{% endunless %}"
        {% if section.settings.enable_slider %}
          data-slideshow="{{ section.settings.grid }}"
        {% endif %}
        data-custom-scrollbar-items
      >
        {% for block in section.blocks %}
          {% assign product = all_products[block.settings.product] %}
          {% if product != blank %}
            <div class="grid__item {{ grid_strings }}" {{ block.shopify_attributes }}>
              {% render 'product-grid-item', product: product %}
              {% if block.settings.product_description != blank %}
                <div class="product-description">{{ block.settings.product_description }}</div>
              {% endif %}
            </div>
          {% else %}
            {% render 'onboarding-featured-products', section: section, grid_strings: grid_strings, product_count: 1 %}
          {% endif %}
        {% endfor %}
      </div>

      <div class="custom-scrollbar small-down--show" data-custom-scrollbar>
        <div class="custom-scrollbar__track" data-custom-scrollbar-track></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "New Featured Products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Text",
      "default": "<p>Use this area to describe the featured products.</p>"
    },
    {
      "type": "range",
      "id": "grid",
      "min": 2,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable slider",
      "default": true
    },
    {
      "type": "select",
      "id": "color_bg",
      "label": "Background color",
      "default": "palette--light bg--neutral",
      "options": [
        { "value": "palette--light bg--neutral", "label": "Default" },
        { "value": "palette--light bg--accent", "label": "Light" },
        { "value": "palette--dark bg--invert", "label": "Dark" },
        { "value": "palette--dark bg--invert--accent", "label": "Dark accent" }
      ]
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper",
      "options": [
        { "value": "wrapper--full", "label": "Full width padded" },
        { "value": "wrapper", "label": "Page width" },
        { "value": "wrapper--narrow", "label": "Page width narrow" }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 180,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "textarea",
          "id": "product_description",
          "label": "Product Description",
          "default": "Add a description for this product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "New Featured Products",
      "category": "Products",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["header", "aside"]
  }
}
{% endschema %}
